body {
    min-width: 360px;
    overflow-x: hidden;
}

.logo {
    position: relative;
    margin: 0;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    bottom: .1rem;
}

.icon {
    margin: 0;
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.btn-action {
    width: 10rem;
}

.card {
    border-color: #bcbebf;
}

.card-header {
    background-color: #0d6efd;
}

.card-footer {
    background-color: #f0f0f0;
}

.card-body-content {
    display: block;
    overflow: hidden;
    max-height: 4.5rem;
}

.card-body-content * {
    font-size: 1rem;
    color: black !important;
}

.card-body-content p {
    margin: 0;
}

.card-body img,
.card-body iframe {
    max-width: 100%;
}

.timeline {
    position: relative;
}

.timeline:before {
    position: absolute;
    content: "";
    border-left: 1px solid #bcbebf;
    height: 100%;
    left: 50%;
}

label img {
    max-width: 100%;
}
